openapi: 3.0.3
info:
  title: MindsDB RAG Assistant API
  description: |
    A comprehensive RAG (Retrieval-Augmented Generation) assistant API that combines semantic document search, 
    ML-powered predictions via MindsDB, and intelligent chat responses. The system provides multi-tenant 
    document management, PII protection, and integrated e-commerce checkout capabilities.
    
    ## Key Features
    
    - **Semantic Document Search**: Vector-based similarity search using embeddings
    - **ML Predictions**: Integration with MindsDB for demand forecasting and recommendations
    - **Multi-tenant Architecture**: Isolated data and operations per merchant
    - **PII Protection**: Automatic detection and tokenization of sensitive information
    - **E-commerce Integration**: Complete checkout flow with payment processing
    - **Real-time Chat**: WebSocket and HTTP-based chat interactions
    - **Comprehensive Analytics**: Detailed metrics and insights
    
    ## Authentication
    
    All endpoints require Bearer token authentication. Include your API key in the Authorization header:
    ```
    Authorization: Bearer your-api-key-here
    ```
    
    ## Rate Limiting
    
    API requests are rate-limited per merchant:
    - Standard tier: 1000 requests/hour
    - Premium tier: 5000 requests/hour
    - Enterprise tier: Custom limits
    
    ## Error Handling
    
    The API uses standard HTTP status codes and returns detailed error information:
    - 400: Bad Request - Invalid request data
    - 401: Unauthorized - Missing or invalid authentication
    - 403: Forbidden - Access denied to resource
    - 404: Not Found - Resource not found
    - 429: Too Many Requests - Rate limit exceeded
    - 500: Internal Server Error - Server-side error
    
    ## Data Privacy
    
    - All PII is automatically detected and tokenized
    - Data is encrypted at rest and in transit
    - Multi-tenant isolation ensures data privacy
    - GDPR and CCPA compliant data handling
    
  version: 1.0.0
  contact:
    name: API Support
    email: support@mindsdb-rag.com
    url: https://docs.mindsdb-rag.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.mindsdb-rag.com/v1
    description: Production server
  - url: https://staging-api.mindsdb-rag.com/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Local development server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token for API authentication. Include in Authorization header as:
        `Authorization: Bearer <token>`

  schemas:
    $ref: './components/schemas.yaml'

paths:
  # Health Check
  /health:
    $ref: './paths/health.yaml#/health'
  
  /health/detailed:
    $ref: './paths/health.yaml#/healthDetailed'

  # Document Management
  /documents:
    $ref: './paths/documents.yaml#/documents'
  
  /documents/bulk:
    $ref: './paths/documents.yaml#/documentsBulk'
  
  /documents/stats:
    $ref: './paths/documents.yaml#/documentsStats'
  
  /documents/{documentId}:
    $ref: './paths/documents.yaml#/documentById'

  # Chat Endpoints
  /chat:
    $ref: './paths/chat.yaml#/chat'
  
  /chat/history/{sessionId}:
    $ref: './paths/chat.yaml#/chatHistory'
  
  /chat/sessions/{sessionId}:
    $ref: './paths/chat.yaml#/deleteSession'

  # Session Management
  /sessions:
    $ref: './paths/sessions.yaml#/sessions'
  
  /sessions/{sessionId}:
    $ref: './paths/sessions.yaml#/sessionById'
  
  /sessions/analytics:
    $ref: './paths/sessions.yaml#/sessionAnalytics'

  # Semantic Search
  /search/semantic:
    $ref: './paths/search.yaml#/semanticSearch'
  
  /search/suggestions:
    $ref: './paths/search.yaml#/searchSuggestions'
  
  /search/analytics:
    $ref: './paths/search.yaml#/searchAnalytics'

  # Checkout & E-commerce
  /checkout:
    $ref: './paths/checkout.yaml#/checkout'
  
  /checkout/{transactionId}/status:
    $ref: './paths/checkout.yaml#/checkoutStatus'
  
  /checkout/{transactionId}/cancel:
    $ref: './paths/checkout.yaml#/checkoutCancel'

  # Bedrock Agent
  /bedrock-agent/chat:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentChat'
  
  /bedrock-agent/sessions:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentSessions'
  
  /bedrock-agent/sessions/{sessionId}:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentSessionById'
  
  /bedrock-agent/sessions/{sessionId}/history:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentSessionHistory'
  
  /bedrock-agent/users/{userId}/sessions:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentUserSessions'
  
  /bedrock-agent/stats:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentStats'
  
  /bedrock-agent/health:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentHealth'
  
  /bedrock-agent/parse-intent:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentParseIntent'
  
  /bedrock-agent/sessions/{sessionId}/summary:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentSessionSummary'
  
  /bedrock-agent/audit/search:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentAuditSearch'
  
  /bedrock-agent/compliance/report:
    $ref: './paths/bedrock-agent.yaml#/bedrockAgentComplianceReport'

  # Bedrock Integration
  /merchants/{merchantId}/bedrock/credentials:
    $ref: './paths/bedrock-integration.yaml#/storeCredentials'
  
  /merchants/{merchantId}/bedrock/initialize:
    $ref: './paths/bedrock-integration.yaml#/initializeBedrock'
  
  /merchants/{merchantId}/bedrock/status:
    $ref: './paths/bedrock-integration.yaml#/getBedrockStatus'
  
  /merchants/{merchantId}/bedrock/ask:
    $ref: './paths/bedrock-integration.yaml#/askWithBedrock'
  
  /merchants/{merchantId}/bedrock/query:
    $ref: './paths/bedrock-integration.yaml#/queryWithBedrockRAG'
  
  /merchants/{merchantId}/bedrock/test:
    $ref: './paths/bedrock-integration.yaml#/testBedrockIntegration'
  
  /bedrock/models:
    $ref: './paths/bedrock-integration.yaml#/listBedrockModels'

  # RAG System
  /merchants/{merchantId}/rag/initialize:
    $ref: './paths/rag.yaml#/initializeRAGSystem'
  
  /merchants/{merchantId}/rag/status:
    $ref: './paths/rag.yaml#/getRAGSystemStatus'
  
  /merchants/{merchantId}/documents:
    $ref: './paths/rag.yaml#/ingestDocument'
  
  /merchants/{merchantId}/documents/url:
    $ref: './paths/rag.yaml#/ingestDocumentFromUrl'
  
  /merchants/{merchantId}/documents/{documentId}:
    $ref: './paths/rag.yaml#/findSimilarDocuments'
  
  /merchants/{merchantId}/rag/ask:
    $ref: './paths/rag.yaml#/askQuestion'

  # Additional Chat Endpoints
  /chat/analytics:
    $ref: './paths/chat.yaml#/chatAnalytics'
  
  /chat/health:
    $ref: './paths/chat.yaml#/chatHealth'

  # Additional Session Endpoints
  /sessions/{sessionId}/context:
    $ref: './paths/sessions.yaml#/updateSessionContext'
  
  /sessions/users/{userId}:
    $ref: './paths/sessions.yaml#/getUserSessions'
  
  /sessions/cleanup:
    $ref: './paths/sessions.yaml#/cleanupSessions'
  
  /sessions/{sessionId}/messages:
    $ref: './paths/sessions.yaml#/getSessionMessages'
  
  /sessions/billing:
    $ref: './paths/sessions.yaml#/getBillingData'
  
  /sessions/track-usage:
    $ref: './paths/sessions.yaml#/trackUsage'
  
  /sessions/health:
    $ref: './paths/sessions.yaml#/sessionHealth'

  # Additional Document Endpoints
  /documents/search:
    $ref: './paths/documents.yaml#/searchDocuments'
  
  /documents/health:
    $ref: './paths/documents.yaml#/documentHealth'

  # Semantic Retrieval (MindsDB Predictor)
  /semantic-retrieval/deploy:
    $ref: './paths/semantic-retrieval.yaml#/deployPredictor'
  
  /semantic-retrieval/search:
    $ref: './paths/semantic-retrieval.yaml#/searchDocuments'
  
  /semantic-retrieval/rest-search:
    $ref: './paths/semantic-retrieval.yaml#/restSearchDocuments'
  
  /semantic-retrieval/validate-grounding:
    $ref: './paths/semantic-retrieval.yaml#/validateGrounding'
  
  /semantic-retrieval/status/{merchantId}:
    $ref: './paths/semantic-retrieval.yaml#/getPredictorStatus'
  
  /semantic-retrieval/config/{merchantId}:
    $ref: './paths/semantic-retrieval.yaml#/updatePredictorConfig'
  
  /semantic-retrieval/health:
    $ref: './paths/semantic-retrieval.yaml#/semanticRetrievalHealth'

  # Analytics
  /api/merchants/{merchantId}/analytics/overview:
    $ref: './paths/analytics.yaml#/api/merchants/{merchantId}/analytics/overview'
  
  /api/merchants/{merchantId}/analytics/queries:
    $ref: './paths/analytics.yaml#/api/merchants/{merchantId}/analytics/queries'
  
  /api/merchants/{merchantId}/analytics/top-queries:
    $ref: './paths/analytics.yaml#/api/merchants/{merchantId}/analytics/top-queries'
  
  /api/merchants/{merchantId}/analytics/performance:
    $ref: './paths/analytics.yaml#/api/merchants/{merchantId}/analytics/performance'
  
  /api/merchants/{merchantId}/analytics/intents:
    $ref: './paths/analytics.yaml#/api/merchants/{merchantId}/analytics/intents'

tags:
  - name: Health
    description: System health and status endpoints
  - name: Documents
    description: Document management and ingestion
  - name: Chat
    description: Chat interactions and conversation management
  - name: Sessions
    description: User session management and analytics
  - name: Search
    description: Semantic search and query suggestions
  - name: Checkout
    description: E-commerce checkout and payment processing
  - name: Bedrock Agent
    description: AWS Bedrock Agent integration for advanced AI conversations
  - name: Bedrock Integration
    description: AWS Bedrock service integration and credential management
  - name: RAG System
    description: RAG system initialization, document ingestion, and question answering
  - name: Semantic Retrieval
    description: MindsDB-powered semantic retrieval with predictor management and grounding validation
  - name: Analytics
    description: Merchant analytics and usage insights including queries, performance metrics, and intent distribution

externalDocs:
  description: Full API Documentation
  url: https://docs.mindsdb-rag.com